body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.demo-well {
  background: #CCC;
  padding: 4px;
}

.demo-well:not(:last-child) {
  margin-bottom: 20px;
}

.demo-well--set-height {
  height: 150px;
}

.demo-cell {
  background: white;
  margin: 4px;
  padding: 8px;
}
