<h2 id="title">Ember Layout</h2>

{{#demo-component elLayout='horizontal'}}
  <div>One</div>
  <div>Two</div>
  <div>Three</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal'}}
  <div>Alpha</div>
  <div class="l-flex-1">Beta (flex)</div>
  <div>Gamma</div>
{{/demo-component}}

{{#demo-component elLayout='vertical' classNames='demo-component--fixed-height'}}
  <div>Alpha</div>
  <div class="l-flex-1">Beta (flex)</div>
  <div>Gamma</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal'}}
  <div class="l-flex-3">Alpha</div>
  <div class="l-flex-1">Beta</div>
  <div class="l-flex-2">Gamma</div>
{{/demo-component}}

<h3>Alignment</h3>

{{#demo-component elLayout='horizontal' elAlign='stretch' classNames='demo-component--fixed-height'}}
  <div>Stretch</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elAlign='center' classNames='demo-component--fixed-height'}}
  <div>Center</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elAlign='start' classNames='demo-component--fixed-height'}}
  <div>Start</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elAlign='end' classNames='demo-component--fixed-height'}}
  <div>End</div>
{{/demo-component}}

<h3>Justification</h3>

{{#demo-component elLayout='horizontal' elJustify='start'}}
  <div>Start</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elJustify='end'}}
  <div>End</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elJustify='center'}}
  <div>Center</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elJustify='end'}}
  <div>End</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elJustify='between'}}
  <div>Between</div>
  <div>Between</div>
{{/demo-component}}

{{#demo-component elLayout='horizontal' elJustify='around'}}
  <div>Around</div>
  <div>Around</div>
{{/demo-component}}
